.imageContainer_md,
.imageContainer_xs {
  display: flex;
  margin-right: 1rem;
  margin-top: 0.8rem;
}

.link {
  text-decoration: none;
  color: white;
}

/* Styles for md screens (flex on md) */
@media (min-width: 900px) {
  .imageContainer_xs {
    display: none;
  }
}

@media (max-width: 900px) {
  .imageContainer_md {
    display: none;
  }
}
