/* ScreenLogin.module.css */
.container {
  margin-top: 0px;
  height: 91vh;
  width: 100vw;
  background-color: #000;
  font-family: "Raleway", sans-serif;
  margin-left: 0;
}

.textSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1499195333224-3ce974eecb47?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2cf549433129d4227d1879347b9e78ce&auto=format&fit=crop&w=1248&q=80");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.text_container h1 {
  margin: 0;
  font-size: 150px;
  color: rgba(225, 225, 225, 0.01);
}

.text_container h2 {
  color: white;
  font-size: 2em;
  font-weight: normal;
}

.loginSection {
  background-color: #000;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 900px) {
  .text_container h1 {
    font-size: 80px; /* Adjust the font size for smaller screens */
  }
}
@media screen and (min-width: 901px) {
  .text_container h1 {
    font-size: 100px; /* Adjust the font size for smaller screens */
  }
}
@media screen and (min-width: 1200px) {
  .text_container h1 {
    font-size: 130px; /* Adjust the font size for smaller screens */
  }
}
@media screen and (min-width: 1300px) {
  .text_container h1 {
    font-size: 140px; /* Adjust the font size for smaller screens */
  }
}

@media screen and (min-width: 1900px) {
  .text_container h1 {
    font-size: 200px; /* Adjust the font size for smaller screens */
  }
}
